<div class="container">
  <button class="cadastrar-pet-btn" (click)="perfilpetcadastro()">Cadastrar Pet</button>
  
  <mat-card class="card mat-elevation-z4" *ngFor="let element of dataSource.data">
    <mat-card-header>
      <mat-card-title>Perfil Pet</mat-card-title>
      <mat-card-subtitle>Detalhes:</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/cadastrarpet.svg" alt="Agendamento feito">
    <mat-card-content>
      <p>
        <strong>Nome: </strong> {{ element.nome }} <br>
        <strong>Raça: </strong> {{ element.raca }} <br>
        <strong>Idade: </strong> {{ element.idade }} <br>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="excluirPerfilPet(element.id)">Excluir</button>
      <button mat-button (click)="editarPerfilPet(element.id)">Editar</button>
    </mat-card-actions>
  </mat-card>
   
</div>