<div class="container">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="usuarios">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let usuario"> {{ usuario.id }} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let usuario"> {{ usuario.nome }} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> E-mail </th>
          <td mat-cell *matCellDef="let usuario"> {{ usuario.email }} </td>
        </ng-container>
        <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef> Senha </th>
          <td mat-cell *matCellDef="let usuario"> {{ usuario.senha }} </td>
        </ng-container>
        <ng-container matColumnDef="celular">
          <th mat-header-cell *matHeaderCellDef> Celular </th>
          <td mat-cell *matCellDef="let usuario"> {{ usuario.celular | mask: '(00)00000-0000' }} </td>
        </ng-container>
        <!-- Defina as colunas que deseja exibir aqui -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let usuario; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
  