<mat-card class="card mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>Serviços</mat-card-title>
      <mat-card-subtitle>Banho e tosa</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/banho.svg" alt="Foto do Menu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Perfil Pet</button>
      <button mat-button>Agendamento</button>
    </mat-card-actions>
  </mat-card>